<nav class="navbar">
  <div class="logo">
    <a routerLink="/">JobFinder</a>
  </div>
  <div class="menu">
    <a routerLink="/jobs" routerLinkActive="qctive">Jobs</a>

    @if (currentUser()) {
      <a routerLink="/favorites" routerLinkActive="active">Favorites</a>
      <a routerLink="/applications" routerLinkActive="active">Applications</a>
      <button (click)="logout()">Logout</button>
    } @else {
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Register</a>
    }
  </div>
</nav>
